body {
  background-color: #aec8f2
}

/* fuente */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOiCnqEu92Fr1Mu51QrEz0dL_nz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.card {
  width: 400px;
  background-color: #fff;
  border: none;
  border-radius: 12px
}

label.radio {
  cursor: pointer;
  width: 100%
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 7px 14px;
  border: 2px solid #eee;
  display: inline-block;
  color: #039be5;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  line-height: 27px
}

label.radio input:checked+span {
  border-color: #039BE5;
  background-color: #81D4FA;
  color: #fff;
  border-radius: 9px;
  height: 48px;
  line-height: 27px
}

.form-control {
  margin-top: 10px;
  height: 48px;
  border: 2px solid #eee;
  border-radius: 10px
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #039BE5
}

.agree-text {
  font-size: 12px
}

.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039BE5
}

.confirm-button {
  height: 50px;
  border-radius: 10px
}


/*first mobile */

.title-barber{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.content-button-submit{
  text-align: right;
}

.label-inputs{
  font-weight: 500

}


.content-card-summary{
  border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 25px;
    -webkit-box-shadow: 1px 1px 22px -6px #000000;
    box-shadow: 1px 1px 22px -6px #000000;
    background-color: #dfeaf5;
}

.content-images-barber{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-barber{
  
  margin-bottom: 10px;
  margin-right: 6px;
  border-radius: 10px;
}

.subTitleImage{
  text-align: center;
  margin: 20px 0 20px 0;
}

.content-summary-quote{
  font-size: 19px;
  font-weight: 500;
}

@media screen and (min-width: 640px) {
  .content-images-barber{
    display: block
  }
  .content-card-summary{
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    width: 55%;
  }
  .content-images-barber{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .content-card-summary{
    width: 53%;
  }
}